{% if list_items %}
    <ul>
    {% for item in list_items %}
        <li style="text-decoration:none"><h4>{{item.item_name}}</h4></li>
        <li style="list-style-type: circle">{{item.buy_date}}</li>
        <li style="list-style-type: circle">{{ item.item_price}}</li>
        <li style="list-style-type: circle">{{item.item_description}}</li>
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}
