{% block content %}

<!--<form action={% url 'get_details' %} method="POST">-->
    <form action={% url 'get_details' %} method="POST">
    <table>
    <h3>Enter Details</h3>
    {% csrf_token %}
    {{ myform }}
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}